<html>
  <head>
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div class="parent">
      <div class="leftSide">
        <div class="userinfo sign-out"></div>
        <div class="newFolder"></div>
        <div class="allFolders">
          <% if (folders && folders.length > 0) { %> <% folders.slice(0,
          10).forEach(folder => { %>
          <div class="<%folder.name%>" data-folder-id="<%= folder.id %>">
            <%= folder.name %>
          </div>
          <% }) %> <% } %>
        </div>
        <div class="viewAll">view all folders</div>
        <div class="trash">
          <img class="trash icon" />
          <a href="/trash">trash</a>
        </div>
      </div>

      <div class="rightSide">
        <div class="folderName">
          <div class="enteredFolder"><%=folders[0].name%></div>
        </div>
        <div class="filesIn SelectedFolderGrid">
          <div>
            <label hidden for="searchBar"></label>
            <input class="searchBar" name="searchBar" placeholder="search" />
          </div>
          <div class="options hidden">
            <div>
              <div><a class="linkTo" href="">open</a></div>
              <div class="download">download</div>
              <div>
                <div class="edit">edit</div>
                <div class="editForm hidden">
                  <form action="/updateFileName" method="POST">
                    <label>name:</label>
                    <input name="name" class="editFileName" >
                    <input hidden name="fileID" class="editFileNameId" >
                    <button type="submit">update</button>
                    <div>cancel</div>
                  </form>
                </div>
              <div>
                <form action="/deleteFile" method="POST">
                  <input class="deleteFileName" hidden name="fileName" >
                  <input class="deleteFileID" hidden name="fileID" >
                  <button type="submit" class="delete">delete
                    </button>
                </form>
              </div>
              <div class="x" onclick="closeOptions()">x</div>
            </div>
          </div>
          <div class="fileHolder">
            <% if (files) { %> <% files.forEach((file) => { %>
            <div
              class="file"
              data-file-id="<%file.ID%>"
              data-fileName="<%= file.name %>"
              onclick="openOptions(e)"
            >
              <div>preview if possible?</div>
              <div><%= file.name %></div>
            </div>
            <% }) %> <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function search() {
      const search = document.querySelector(".searchBar");
      search.addEventListener("input", (e) => {
        const query = e.target.value;
      });
    }

    function openOptions(e) {
      optionsDiv.classList.remove("hidden");

      const fileID = e.target.dataset.fileID;
      const fileName = e.target.dataset.fileName;

      const open = document.querySelector(".linkTo");
      const download = document.querySelector(".download");

      const edit = document.querySelector(".linkTo");
      edit.addEventListener("click", (e) => {
        const editForm = document.querySelector(".editForm");
        editForm.classList.remove("hidden");
        const editFileName = document.querySelector(".editFileName")
        editFileName.value = fileName;
        const editFileNameID = document.querySelector(".editFileNameId");
        editFileNameID.value = fileID;
      });

      const deleteBtn = document.querySelector(".delete");
      deleteBtn.addEventListener("click", (e) => {
        const deleteFileName = document.querySelector(".deleteFileName");
        const deleteFileID = document.querySelector(".deleteFileID");
        deleteFileName.value = fileName;
        deleteFileID.value = fileID;
      })

    }

    function closeOptions() {
      const search = document.querySelector(".searchBar");
      search.classList.add("hidden");
    }
  </script>
</html>
