<html>
  <head>
    <link rel="stylesheet" href="../home.css" />
  </head>
  <body>
    <div class="parent">
      <div class="leftSide">

        <div class="userinfo sign-out">
          <div><%= name %></div>
          <div>logout</div>
        </div>
        <div class="newFolder">
          <div onclick="addNewFolder()">+ new folder</div>
          <div class="newFolder hidden">
            <form>
              <input placeholder="folder name">
              <button>add</button>
            </form>
          </div>
          <div>
            <form action="/newFolder" method="POST">

            </form>
          </div>
        </div>
        <div class="allFolders">
          <% if (folders && folders.length > 0) { %> <% folders.slice(0,
          10).forEach(folder => { %>
          <div class="<%folder.name%>" data-folder-id="<%= folder.id %>">
            <a href="/home/<%=folder.id%>"><%= folder.name %></a>
          </div>
          <% }) %> <% } %>
        </div>
        <div class="viewAll"><a href="/home/view-all-folders">view all folders</a></div>
        <div class="trash">
          <img class="trash icon" />
          <a href="/trash">trash</a>
        </div>
      </div>

      <div class="rightSide">
          <% if (view === "empty") { %>
            <div><%= emptyMessage %></div>
         <% } %>

        <% if (view === "folder") { %>
          <div class="folderName">
            <div class="enteredFolder"><%=currentFolder.name%></div>
          </div>
          <div class="filesIn SelectedFolderGrid">
            <div>
              <div>+ new file</div>
            </div>
            <div>
              <label hidden for="searchBar"></label>
              <input class="searchBar" name="searchBar" placeholder="search" />
            </div>
            <div class="options hidden">
              <div>
                <div><a class="linkTo">open</a></div>
                <div class="download">download</div>
                <div class="edit">edit</div>
                <div class="editForm hidden">
                  <form action="/updateFileName" method="POST">
                      <label>name:</label>
                      <input name="name" class="editFileName" >
                      <input hidden name="fileID" class="editFileNameId" >
                      <button type="submit">update</button>
                      <div>cancel</div>
                  </form>
                </div>
                <div onclick="moveTo(e)">move to</div>
                <div class="moveTo hidden">
                  <form>
                    <label>from:</label>
                    <input>
                    <label>to:</label>
                    <input>
                  </form>
                </div>
                <div>
                  <form action="/deleteFile" method="POST"  onsubmit="return confirm('Are you sure you want to delete this?')"></form>
                    <input class="deleteFileID" hidden name="fileID" >
                    <button type="submit" class="delete">delete</button>
                  </form>
                </div>
                <div class="x" onclick="closeOptions()">x</div>
              </div>
            </div>
            <div class="fileHolder">
              <% if (files) { %> 
              <% files.forEach((file) => { %>
              <div
                class="file"
                data-file-id="<%file.ID%>"
                data-fileName="<%= file.name %>"
                onclick="openOptions(e)"
              >
                <div>preview if possible?</div>
                <div><%= file.name %></div>
              </div>
              <% }) %> <% } %>
            </div>
         <% } %>

           <% if (view === "all folders") { %>
          <div>All folders</div>

          <div class="folderGrid">
            <% folders.forEach(folder => { %>
              <div class="folderCard">
                <a href="/home/<%= folder.id %>"><%= folder.name %></a>
              </div>
            <% }) %>
          </div>
        <% } %>

        <% if (view === "file") { %>
          <div class="fileHeader">
            <div><%= file.name %></div>
          </div>

          <div class="fileViewer">
            <p>File preview goes here</p>
          </div>
        <% } %>
      
        </div>
      </div>
    </div>
  </body>
  <script>
    function search() {
      const search = document.querySelector(".searchBar");
      search.addEventListener("input", (e) => {
        const query = e.target.value;
      });
    }

    function openOptions(e) {
      optionsDiv.classList.remove("hidden");

      const fileID = e.target.dataset.fileID;
      const fileName = e.target.dataset.fileName;

      const download = document.querySelector(".download");

      const openLink = document.querySelector(".linkTo");
      openLink.href = `/home/${folderID}/${fileName}`;

      const edit = document.querySelector(".linkTo");
      edit.addEventListener("click", (e) => {
        const editForm = document.querySelector(".editForm");
        editForm.classList.remove("hidden");
        const editFileName = document.querySelector(".editFileName")
        editFileName.value = fileName;
        const editFileNameID = document.querySelector(".editFileNameId");
        editFileNameID.value = fileID;
      });

      const deleteBtn = document.querySelector(".delete");
      deleteBtn.addEventListener("click", (e) => {
        const deleteFileID = document.querySelector(".deleteFileID");
        deleteFileID.value = fileID;
      })

    }

    function closeOptions() {
      const search = document.querySelector(".searchBar");
      search.classList.add("hidden");
    }

    function moveTo(e){

    }

    function addNewFolder(){
      const newFolderShow = document.querySelector(".newFolder");
      newFolderShow.classList.remove("hidden")
    }
  </script>
</html>
