<html>
  <head>
    <link rel="stylesheet" href="../home.css" />
  </head>
  <body>
    <div class="parent">
      <div class="leftSide">
        <div class="userinfo sign-out">
          <div><%= name %></div>
          <div>
            <form action="/logout" method="POST">
              <button>logout</button>
            </form>
          </div>
        </div>
        <div class="newFolder">
          <div onclick="showAddFolderForm()">+ new folder</div>
          <div class="newFolderForm hidden">
            <form id="addFolderForm">
              <input
                class="newFolderInput"
                placeholder="folder name"
                name="newFolderName"
              />
              <button type="button" onclick="addFolder(event)">add</button>
            </form>
          </div>
        </div>
        <div class="allFolders">
          <% if (folders && folders.length > 0) { %> <% folders.slice(0,
          10).forEach(folder => { %>
          <div class="<%folder.name%>" data-folder-id="<%= folder.id %>">
            <a href="/home/<%=folder.id%>"><%= folder.name %></a>
          </div>
          <% }) %> <% } %>
        </div>
        <div class="viewAll">
          <a href="/home/view-all-folders">view all folders</a>
        </div>
        <div class="trash">
          <img class="trash icon" />
          <a href="/home/trash">trash</a>
        </div>
      </div>

      <div class="rightSide">
        <% if (view === "empty") { %>
        <div><%= emptyMessage %></div>
        <% } %> <% if (view === "trash") { %>
        <div>Trash</div>
        <div>
          <% if (noTrashedFiles && noTrashedFolders) { %>
          <div><%= emptyMessage %></div>
          <% } else { %>
          <div>
            <div>Files</div>
            <% if (noTrashedFiles) { %>
            <div></div>
            <% } else { %> <% trashedFiles.forEach((file) => { %>
            <div class="inTrash" data-trash-file-id="<%=file.id%>">
              <div><%= file.name %></div>
              <div>
                <div>
                  <form action="/restoreFile" method="POST">
                    <input hidden name="restoreThisFile" value="<%=file.id%>" />
                    <button onclick="restoreFile(event)">restore</button>
                  </form>
                </div>
                <div>
                  <form action="/deleteFile" method="POST">
                    <input hidden name="deleteThisFile" value="<%=file.id%>" />
                    <button onclick="deleteFile(event)">delete forever</button>
                  </form>
                </div>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
          <div>
            <div>Folders</div>
            <% if (noTrashedFolders) { %>
            <div></div>
            <% } else { %> <% trashedFolders.forEach((folder) => { %>
            <div class="inTrash">
              <div><%= folder.name %></div>
              <div>
                <div>
                  <form action="/restoreFolder" method="POST">
                    <input
                      hidden
                      name="restoreThisFolder"
                      value="<%=folder.id%>"
                    />
                    <button onclick="restoreFolder(event)">restore</button>
                  </form>
                </div>
                <div>
                  <form action="/deleteFolder" method="POST">
                    <input
                      hidden
                      name="deleteThisFolder"
                      value="<%=folder.id%>"
                    />
                    <button onclick="deleteFolder(event)">
                      delete forever
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
          <% } %>
        </div>
        <% } %> <% if (view === "folder") { %>
        <div class="folderName">
          <div class="enteredFolder"><%=currentFolder.name%></div>
          <div>
            <div>edit</div>
            <div>delete</div>
          </div>
        </div>
        <div class="filesIn SelectedFolderGrid">
          <div>
            <div onclick="">+ new file</div>
          </div>
          <div>
            <label hidden for="searchBar"></label>
            <input class="searchBar" name="searchBar" placeholder="search" />
          </div>
          <div class="options hidden">
            <div>
              <div><a class="linkTo">open</a></div>
              <div class="download">download</div>
              <div class="edit">edit</div>
              <div class="editForm hidden">
                <form action="/updateFileName" method="POST">
                  <label>name:</label>
                  <input name="newFileName" class="editFileName" />
                  <input hidden name="fileID" class="editFileNameId" />
                  <input
                    hidden
                    name="folderID"
                    value="<%= currentFolder ? currentFolder.id : '' %>"
                  />
                  <button type="submit">update</button>
                  <div>cancel</div>
                </form>
              </div>
              <div onclick="moveTo(event)">move to</div>
              <div class="moveTo hidden">
                <form>
                  <label>from:</label>
                  <input />
                  <label>to:</label>
                  <input />
                </form>
              </div>
              <form
                class="deleteFileForm"
                action="/softDeleteFile"
                method="POST"
              >
                <input hidden class="deleteFileID" name="deleteThisFile" />
                <button type="button" class="delete">delete</button>
              </form>
              <div class="x" onclick="closeOptions()">x</div>
            </div>
          </div>
          <div class="fileHolder">
            <% if (files) { %> <% files.forEach((file) => { %>
            <div
              class="file"
              data-file-id="<%= file.id%>"
              data-file-name="<%= file.name %>"
              onclick="openOptions(event)"
            >
              <div>preview if possible?</div>
              <div><%= file.name %></div>
            </div>
            <% }) %> <% } %>
          </div>
        </div>
        <% } %> <% if (view === "all folders") { %>
        <div>All folders</div>

        <div class="folderGrid">
          <% folders.forEach(folder => { %>
          <div class="folderCard">
            <a href="/home/<%= folder.id %>"><%= folder.name %></a>
            <form action="/softDeleteFolder" method="POST">
              <input hidden name="softDeleteFolder" value="<%= folder.id %>" />
              <button>delete folder</button>
            </form>
          </div>
          <% }) %>
        </div>
        <% } %> <% if (view === "file") { %>
        <div class="fileHeader">
          <div><%= file.name %></div>
        </div>

        <div class="fileViewer">
          <p>File preview goes here</p>
        </div>
        <% } %>
      </div>
    </div>

    <script>
      let selectedFileID = null;
      // const currentFolderId = <%= JSON.stringify(currentFolder ? currentFolder.id : null) %>;

      function search() {
        const search = document.querySelector(".searchBar");
        search.addEventListener("input", (event) => {
          const query = event.target.value;
        });
      }

      function openOptions(event) {
        const optionsDiv = document.querySelector(".options");
        optionsDiv.classList.remove("hidden");

        const fileEl = event.currentTarget;
        const fileID = fileEl.dataset.fileId;
        const fileName = fileEl.dataset.fileName;
        selectedFileID = fileID;

        const download = document.querySelector(".download");

        const openLink = document.querySelector(".linkTo");
        if (currentFolderId) {
          openLink.href = `/home/${currentFolderId}/${fileName}`;
        }

        const edit = document.querySelector(".edit");
        edit.addEventListener("click", (event) => {
          const editForm = document.querySelector(".editForm");
          editForm.classList.remove("hidden");
          const editFileName = document.querySelector(".editFileName");
          editFileName.value = fileName;
          const editFileNameID = document.querySelector(".editFileNameId");
          editFileNameID.value = fileID;
        });

        const deleteBtn = document.querySelector(".delete");
        deleteBtn.addEventListener("click", (event) => {
          const deleteFileID = document.querySelector(".deleteFileID");
          deleteFileID.value = fileID;
          document.querySelector(".deleteFileForm").submit();
        });
      }

      function closeOptions() {
        const search = document.querySelector(".searchBar");
        search.classList.add("hidden");
      }

      function moveTo(event) {}

      function showAddFolderForm() {
        const newFolderShow = document.querySelector(".newFolderForm");
        newFolderShow.classList.toggle("hidden");
      }

      async function addFolder(event) {
        event.preventDefault();
        const input = document.querySelector(".newFolderInput");
        const name = input.value;

        if (!name) return;

        try {
          const res = await fetch("/addFolder", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ newFolderName: name }),
          });

          console.log("status:", res.status);
          if (!res.ok) {
            throw new Error("Failed to create folder");
          } else {
            const folder = await res.json();

            const folderList = document.querySelector(".allFolders");

            const foldersRendered = folderList.children;
            if (foldersRendered.length > 10) {
              foldersRendered[foldersRendered.length - 1].remove();
            }

            const div = document.createElement("div");
            div.innerHTML = `<a href="/home/${folder.id}">${folder.name}</a>`;

            folderList.prepend(div);

            input.value = "";
            document.querySelector(".newFolderForm").classList.add("hidden");
          }
        } catch (err) {
          console.error(err);
          alert(err.message);
        }
      }

      async function restoreFile(event) {
        event.preventDefault();
        const form = event.target.closest("form");
        const fileID = form.restoreThisFile.value;

        const res = await fetch("/restoreFile", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            restoreThisFile: fileID,
          }),
        });

        if (res.ok) {
          const container = event.target.closest(".inTrash");
          container.remove();
        } else {
          return alert("cannot restore file");
        }
      }

      async function deleteFile(event) {
        event.preventDefault();
        const form = event.target.closest("form");
        const fileID = form.deleteThisFile.value;

        const res = await fetch("/deleteFile", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            deleteThisFile: fileID,
          }),
        });

        if (res.ok) {
          const container = event.target.closest(".inTrash");
          container.remove();
        } else {
          return alert("cannot delete file");
        }
      }

      async function restoreFolder(event) {
        event.preventDefault();
        const form = event.target.closest("form");
        const folderID = form.restoreThisFolder.value;

        const res = await fetch("/restoreFolder", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            restoreThisFolder: folderID,
          }),
        });

        if (res.ok) {
          const container = event.target.closest(".inTrash");
          container.remove();
        } else {
          return alert("cannot restore folder");
        }
      }

      async function deleteFile(event) {
        event.preventDefault();
        const form = event.target.closest("form");
        const folderID = form.deleteThisFolder.value;

        const res = await fetch("/deleteFolder", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            deleteThisFolder: folderID,
          }),
        });

        if (res.ok) {
          const container = event.target.closest(".inTrash");
          container.remove();
        } else {
          return alert("cannot delete folder");
        }
      }
    </script>
  </body>
</html>
