<html>
  <head>
    <link rel="stylesheet" href="../home.css" />
  </head>
  <body>
    <div class="parent">
      <div class="leftSide">
        <div class="userinfo sign-out">
          <div><%= name %></div>
          <div>
            <form action="/logout" method="POST">
              <button>logout</button>
            </form>
          </div>
        </div>
        <div class="newFolder">
          <div
            class="newFolderToggle"
            onclick="this.nextElementSibling.classList.toggle('hidden')"
          >
            + new folder
          </div>
          <div class="newFolderForm hidden">
            <form id="addFolderForm" action="/addFolder" method="POST">
              <input
                class="newFolderInput"
                placeholder="folder name"
                name="newFolderName"
              />
              <button type="submit">add</button>
            </form>
          </div>
        </div>
        <div class="allFolders">
          <% if (folders && folders.length > 0) { %> <% folders.slice(0,
          10).forEach(folder => { %>
          <div class="sideFolder" data-folder-id="<%= folder.id %>">
            <a href="/home/<%=folder.id%>"><%= folder.name %></a>
          </div>
          <% }) %> <% } %>
        </div>
        <div class="viewAll">
          <a href="/home/view-all-folders">view all folders</a>
        </div>
        <div class="trash">
          <img class="trash icon" />
          <a href="/home/trash">trash</a>
        </div>
      </div>

      <div class="rightSide">
        <% if (view === "empty") { %>
        <div><%= emptyMessage %></div>
        <% } %> <% if (view === "trash") { %>
        <div class="title">Trash</div>
        <div class="splitTrash">
          <% const noTrashedFiles = Array.isArray(trashedFiles) ?
          trashedFiles.length === 0 : true; %> <% const noTrashedFolders =
          Array.isArray(trashedFolders) ? trashedFolders.length === 0 : true; %>
          <% if (noTrashedFiles && noTrashedFolders) { %>
          <div><%= emptyMessage %></div>
          <% } else { %>
          <div class="filesTrash">
            <div>Files</div>
            <% if (noTrashedFiles) { %>
            <div></div>
            <% } else { %> <% trashedFiles.forEach((file) => { %>
            <div class="inTrash" data-trash-file-id="<%=file.id%>">
              <div><%= file.name %></div>
              <div class="resDelTrash">
                <div>
                  <form action="/restoreFile" method="POST">
                    <input hidden name="restoreThisFile" value="<%=file.id%>" />
                    <button onclick="restoreFile(event)">restore</button>
                  </form>
                </div>
                <div>
                  <form action="/deleteFile" method="POST">
                    <input hidden name="deleteThisFile" value="<%=file.id%>" />
                    <button onclick="deleteFile(event)">delete forever</button>
                  </form>
                </div>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
          <div class="foldersTrash">
            <div>Folders</div>
            <% if (noTrashedFolders) { %>
            <div></div>
            <% } else { %> <% trashedFolders.forEach((folder) => { %>
            <div class="inTrash">
              <div><%= folder.name %></div>
              <div class="resDelTrash">
                <div>
                  <form action="/restoreFolder" method="POST">
                    <input
                      hidden
                      name="restoreThisFolder"
                      value="<%=folder.id%>"
                    />
                    <button onclick="restoreFolder(event)">restore</button>
                  </form>
                </div>
                <div>
                  <form action="/deleteFolder" method="POST">
                    <input
                      hidden
                      name="deleteThisFolder"
                      value="<%=folder.id%>"
                    />
                    <button onclick="deleteFolder(event)">
                      delete forever
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
          <% } %>
        </div>
        <% } %> <% if (view === "folder") { %> <% if (!currentFolder) { %>
        <div>No folder selected.</div>
        <% } else { %>
        <div class="folderName">
          <div class="title"><%=currentFolder.name%></div>
          <div class="editDelFolder">
            <div class="edit" onclick="showEditForm(event)">edit</div>
            <div class="editForm hidden">
              <form action="/updateFolderName" method="POST">
                <input name="newFolderName" value="<%= currentFolder.name %>" />
                <input
                  hidden
                  name="folderID"
                  value="<%= currentFolder ? currentFolder.id : '' %>"
                />
                <input hidden name="redirectTo" value="folder" />
                <div>
                  <button type="button" onclick="cancelEdit(event)">
                    cancel
                  </button>
                  <button>change</button>
                </div>
              </form>
            </div>
            <div>
              <form action="/softDeleteFolder" method="POST">
                <input
                  hidden
                  name="softDeleteFolder"
                  value="<%=currentFolder.id%>"
                />
                <button>delete</button>
              </form>
            </div>
          </div>
        </div>
        <div class="filesIn SelectedFolderGrid">
          <div class="newFile">
            <div class="newFile" onclick="openAddFile(event)">+ new file</div>
            <div class="newFile hidden">
              <form
                action="/upload"
                method="POST"
                enctype="multipart/form-data"
              >
                <input hidden name="folderId" value="<%= currentFolder.id%>" />
                <input type="file" name="files" multiple />
                <button>upload</button>
              </form>
            </div>
          </div>
          <div class="options hidden">
            <div class="optionsHolder">
              <div><a class="linkTo">open</a></div>
              <div class="download">
                <% if (files && files.length > 0) { %>
                <a
                  href="/home/<%= currentFolder.id %>/<%= files[0].id %>"
                  download
                >
                  download
                </a>
                <% } else { %>
                <div></div>
                <% }%>
              </div>
              <div class="edit">edit</div>
              <div class="editForm hidden">
                <form action="/updateFileName" method="POST">
                  <label>name:</label>
                  <input name="newFileName" class="editFileName" />
                  <input hidden name="fileID" class="editFileNameId" />
                  <input
                    hidden
                    name="folderID"
                    value="<%= currentFolder ? currentFolder.id : '' %>"
                  />
                  <div onclick="cancelEdit(event)">cancel</div>
                  <button type="submit">update</button>
                </form>
              </div>
              <form
                class="deleteFileForm"
                action="/softDeleteFile"
                method="POST"
              >
                <input hidden class="deleteFileID" name="deleteThisFile" />
                <button type="button" class="delete">delete</button>
              </form>
              <div class="x" onclick="closeOptions()">close</div>
            </div>
          </div>
          <div class="fileHolder">
            <% if (files) { %> <% files.forEach((file) => { %>
            <div
              class="file"
              data-file-id="<%= file.id%>"
              data-folder-id="<%= currentFolder.id %>"
              data-file-name="<%= file.name %>"
              onclick="openOptions(event)"
            >
              <img
                src="/home/<%= currentFolder.id %>/<%= file.id %>"
                alt="<%= file.name %>"
                loading="lazy"
                onerror="this.style.display='flex'"
                class="fileInFolderPreview"
              />
              <div><%= file.name %></div>
            </div>
            <% }) %> <% } %>
          </div>
        </div>
        <% } %> <% } %> <% if (view === "all folders") { %>
        <div class="title">All folders</div>

        <% if (!folders || folders.length === 0) { %>
        <div>No folders here.</div>
        <% } else { %>
        <div class="folderGrid">
          <% folders.forEach(folder => { %>
          <div class="folderCard">
            <a class="linkToFolder" href="/home/<%= folder.id %>"
              ><%= folder.name %></a
            >
            <div>
              <form action="/softDeleteFolder" method="POST">
                <input
                  hidden
                  name="softDeleteFolder"
                  value="<%= folder.id %>"
                />
                <input hidden name="redirectTo" value="view-all-folders" />
                <button>delete folder</button>
              </form>
              <div class="editFolderRow">
                <button type="button" onclick="toggleFolderEdit(event)">
                  edit
                </button>
                <form
                  class="folderEditForm hidden"
                  action="/updateFolderName"
                  method="POST"
                >
                  <input
                    name="newFolderName"
                    value="<%= folder.name %>"
                    aria-label="Rename folder"
                  />
                  <input hidden name="folderID" value="<%= folder.id %>" />
                  <input hidden name="redirectTo" value="view-all-folders" />
                  <div class="editActions">
                    <button type="button" onclick="cancelEdit(event)">
                      cancel
                    </button>
                    <button>save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <% } %> <% } %> <% if (view === "file") { %>
        <div class="fileHeader">
          <div class="title"><%= file.name %></div>
          <div class="fileActions">
            <button type="button" onclick="toggleFileEdit()">edit</button>
            <form action="/softDeleteFile" method="POST">
              <input hidden name="deleteThisFile" value="<%= file.id %>" />
              <button type="submit">delete</button>
            </form>
            <a class="fileDownload" href="/home/<%= file.folderId %>/<%= file.id %>" download>download</a>
          </div>
        </div>

        <form class="fileEditForm hidden" action="/updateFileName" method="POST">
          <label for="newFileName">name</label>
          <input
            id="newFileName"
            name="newFileName"
            value="<%= file.name %>"
            aria-label="Rename file"
          />
          <input hidden name="fileID" value="<%= file.id %>" />
          <input hidden name="folderID" value="<%= file.folderId %>" />
          <div class="fileActions">
            <button type="button" onclick="toggleFileEdit()">cancel</button>
            <button type="submit">save</button>
          </div>
        </form>

        <div class="fileViewer">
          <object
            data="/home/<%= file.folderId %>/<%= file.id %>"
            type="text/html"
            class="fileFrame"
          >
            <p>Preview not available. <a href="/home/<%= file.folderId %>/<%= file.id %>">Download</a></p>
          </object>
        </div>
        <% } %>
      </div>
    </div>

    <script>
      let selectedFileID = null;
      const currentFolderId = <%= JSON.stringify(currentFolder ? currentFolder.id : null) %>;

      function showEditForm(event) {
        const containerWithForm =
          event.target.closest(".folderName") ||
          event.target.closest(".editFolderRow");
        const editForm =
          containerWithForm &&
          (containerWithForm.querySelector(".editForm") ||
            containerWithForm.querySelector(".folderEditForm"));
        if (editForm) editForm.classList.remove("hidden");
      }

      function toggleFolderEdit(event) {
        const card = event.target.closest(".folderCard");
        const form = card ? card.querySelector(".folderEditForm") : null;
        if (form) {
          form.classList.toggle("hidden");
        }
      }


      function openOptions(event) {
        const optionsDiv = document.querySelector(".options");
        optionsDiv.classList.remove("hidden");

        const fileEl = event.currentTarget;
        const fileID = fileEl.dataset.fileId;
        const fileName = fileEl.dataset.fileName;
        selectedFileID = fileID;

        const openLink = document.querySelector(".linkTo");
        if (currentFolderId) {
          openLink.href = `/home/${currentFolderId}/view-file/${fileID}`;
        }

        const downloadLink = optionsDiv.querySelector(".download a");
        if (downloadLink && currentFolderId) {
          downloadLink.href = `/home/${currentFolderId}/${fileID}`;
          downloadLink.download = fileName;
        }

        const edit = optionsDiv.querySelector(".edit");
        edit.onclick = () => {
          const editForm = optionsDiv.querySelector(".editForm");
          if (editForm) {
            editForm.classList.remove("hidden");
          }
          const editFileName = optionsDiv.querySelector(".editFileName");
          if (editFileName) {
            editFileName.value = fileName;
          }
          const editFileNameID = optionsDiv.querySelector(".editFileNameId");
          if (editFileNameID) {
            editFileNameID.value = fileID;
          }
        };

        const deleteBtn = optionsDiv.querySelector(".delete");
        deleteBtn.onclick = async () => {
          const res = await fetch("/softDeleteFile", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ deleteThisFile: fileID }),
          });

          if (res.ok) {
            fileEl.remove();
            closeOptions();
          } else {
            alert("cannot delete file");
          }
        };
      }

      function closeOptions() {
        const options = document.querySelector(".options");
        options.classList.add("hidden");
      }

      function cancelEdit(event) {
        const editForm = event
          ? event.target.closest(".editForm")
          : document.querySelector(".editForm");
        if (editForm) {
          editForm.classList.add("hidden");
        }
      }

      async function restoreFile(event) {
        event.preventDefault();
        const form = event.target.closest("form");
        const fileID = form.restoreThisFile.value;

        const res = await fetch("/restoreFile", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            restoreThisFile: fileID,
          }),
        });

        if (res.ok) {
          const container = event.target.closest(".inTrash");
          container.remove();
        } else {
          return alert("cannot restore file");
        }
      }

      async function deleteFile(event) {
        event.preventDefault();
        const form = event.target.closest("form");
        const fileID = form.deleteThisFile.value;

        const res = await fetch("/deleteFile", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            deleteThisFile: fileID,
          }),
        });

        if (res.ok) {
          const container = event.target.closest(".inTrash");
          container.remove();
        } else {
          return alert("cannot delete file");
        }
      }

      async function restoreFolder(event) {
        event.preventDefault();
        const form = event.target.closest("form");
        const folderID = form.restoreThisFolder.value;

        const res = await fetch("/restoreFolder", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            restoreThisFolder: folderID,
          }),
        });

        if (res.ok) {
          window.location.reload();
        } else {
          return alert("cannot restore folder");
        }
      }

      async function deleteFolder(event) {
        event.preventDefault();
        const form = event.target.closest("form");
        const folderID = form.deleteThisFolder.value;

        const res = await fetch("/deleteFolder", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            deleteThisFolder: folderID,
          }),
        });

        if (res.ok) {
          const container = event.target.closest(".inTrash");
          container.remove();
        } else {
          return alert("cannot delete folder");
        }
      }

      function toggleFileEdit() {
        const form = document.querySelector(".fileEditForm");
        if (form) form.classList.toggle("hidden");
      }

      function openAddFile(event) {
        const trigger = event.target.closest(".newFile");
        const uploadDiv = trigger ? trigger.nextElementSibling : null;
        if (uploadDiv) {
          uploadDiv.classList.toggle("hidden");
        }
      }
    </script>
  </body>
</html>
